<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mallProject.demo.dao.BBookinfoMapper" >
  <resultMap id="BaseResultMap" type="com.mallProject.demo.entity.BBookinfo" >
    <id column="bookId" property="bookid" jdbcType="INTEGER" />
    <result column="bookTypeid" property="booktypeid" jdbcType="INTEGER" />
    <result column="bookName" property="bookname" jdbcType="VARCHAR" />
    <result column="bookNote" property="booknote" jdbcType="VARCHAR" />
    <result column="bookAuthor" property="bookauthor" jdbcType="VARCHAR" />
    <result column="bookMoney" property="bookmoney" jdbcType="REAL" />
    <result column="bookstate" property="bookstate" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    bookId, bookTypeid, bookName, bookNote, bookAuthor, bookMoney, bookstate, createtime, 
    updatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from b_bookinfo
    where bookId = #{bookid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from b_bookinfo
    where bookId = #{bookid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mallProject.demo.entity.BBookinfo" >
    insert into b_bookinfo (bookId, bookTypeid, bookName, 
      bookNote, bookAuthor, bookMoney, 
      bookstate, createtime, updatetime
      )
    values (#{bookid,jdbcType=INTEGER}, #{booktypeid,jdbcType=INTEGER}, #{bookname,jdbcType=VARCHAR}, 
      #{booknote,jdbcType=VARCHAR}, #{bookauthor,jdbcType=VARCHAR}, #{bookmoney,jdbcType=REAL}, 
      #{bookstate,jdbcType=INTEGER}, now(), now()
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mallProject.demo.entity.BBookinfo" >
    insert into b_bookinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bookid != null" >
        bookId,
      </if>
      <if test="booktypeid != null" >
        bookTypeid,
      </if>
      <if test="bookname != null" >
        bookName,
      </if>
      <if test="booknote != null" >
        bookNote,
      </if>
      <if test="bookauthor != null" >
        bookAuthor,
      </if>
      <if test="bookmoney != null" >
        bookMoney,
      </if>
      <if test="bookstate != null" >
        bookstate,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bookid != null" >
        #{bookid,jdbcType=INTEGER},
      </if>
      <if test="booktypeid != null" >
        #{booktypeid,jdbcType=INTEGER},
      </if>
      <if test="bookname != null" >
        #{bookname,jdbcType=VARCHAR},
      </if>
      <if test="booknote != null" >
        #{booknote,jdbcType=VARCHAR},
      </if>
      <if test="bookauthor != null" >
        #{bookauthor,jdbcType=VARCHAR},
      </if>
      <if test="bookmoney != null" >
        #{bookmoney,jdbcType=REAL},
      </if>
      <if test="bookstate != null" >
        #{bookstate,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mallProject.demo.entity.BBookinfo" >
    update b_bookinfo
    <set >
      <if test="booktypeid != null" >
        bookTypeid = #{booktypeid,jdbcType=INTEGER},
      </if>
      <if test="bookname != null" >
        bookName = #{bookname,jdbcType=VARCHAR},
      </if>
      <if test="booknote != null" >
        bookNote = #{booknote,jdbcType=VARCHAR},
      </if>
      <if test="bookauthor != null" >
        bookAuthor = #{bookauthor,jdbcType=VARCHAR},
      </if>
      <if test="bookmoney != null" >
        bookMoney = #{bookmoney,jdbcType=REAL},
      </if>
      <if test="bookstate != null" >
        bookstate = #{bookstate,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where bookId = #{bookid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mallProject.demo.entity.BBookinfo" >
    update b_bookinfo
    set bookTypeid = #{booktypeid,jdbcType=INTEGER},
      bookName = #{bookname,jdbcType=VARCHAR},
      bookNote = #{booknote,jdbcType=VARCHAR},
      bookAuthor = #{bookauthor,jdbcType=VARCHAR},
      bookMoney = #{bookmoney,jdbcType=REAL},
      bookstate = #{bookstate,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where bookId = #{bookid,jdbcType=INTEGER}
  </update>
  
  
  <select id="getBBookinfoAll" resultMap="BaseResultMap" >
    select <include refid="Base_Column_List"></include>  from b_bookinfo  
  </select>
</mapper>