<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mallProject.demo.dao.BOrderMapper" >
  <resultMap id="BaseResultMap" type="com.mallProject.demo.entity.BOrder" >
    <id column="oId" property="oid" jdbcType="INTEGER" />
    <result column="uId" property="uid" jdbcType="INTEGER" />
    <result column="bookId" property="bookid" jdbcType="INTEGER" />
    <result column="oDate" property="odate" jdbcType="TIMESTAMP" />
    <result column="oNum" property="onum" jdbcType="INTEGER" />
    <result column="oPrice" property="oprice" jdbcType="REAL" />
    <result column="oMessage" property="omessage" jdbcType="VARCHAR" />
    <result column="oAddressee" property="oaddressee" jdbcType="VARCHAR" />
    <result column="oAddress" property="oaddress" jdbcType="VARCHAR" />
    <result column="oPhone" property="ophone" jdbcType="VARCHAR" />
    <result column="oStatus" property="ostatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    oId, uId, bookId, oDate, oNum, oPrice, oMessage, oAddressee, oAddress, oPhone, oStatus
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from b_order
    where oId = #{oid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from b_order
    where oId = #{oid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mallProject.demo.entity.BOrder" >
    insert into b_order (oId, uId, bookId, 
      oDate, oNum, oPrice, 
      oMessage, oAddressee, oAddress, 
      oPhone, oStatus)
    values (#{oid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{bookid,jdbcType=INTEGER}, 
      #{odate,jdbcType=TIMESTAMP}, #{onum,jdbcType=INTEGER}, #{oprice,jdbcType=REAL}, 
      #{omessage,jdbcType=VARCHAR}, #{oaddressee,jdbcType=VARCHAR}, #{oaddress,jdbcType=VARCHAR}, 
      #{ophone,jdbcType=VARCHAR}, #{ostatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mallProject.demo.entity.BOrder" >
    insert into b_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="oid != null" >
        oId,
      </if>
      <if test="uid != null" >
        uId,
      </if>
      <if test="bookid != null" >
        bookId,
      </if>
      <if test="odate != null" >
        oDate,
      </if>
      <if test="onum != null" >
        oNum,
      </if>
      <if test="oprice != null" >
        oPrice,
      </if>
      <if test="omessage != null" >
        oMessage,
      </if>
      <if test="oaddressee != null" >
        oAddressee,
      </if>
      <if test="oaddress != null" >
        oAddress,
      </if>
      <if test="ophone != null" >
        oPhone,
      </if>
      <if test="ostatus != null" >
        oStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="oid != null" >
        #{oid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="bookid != null" >
        #{bookid,jdbcType=INTEGER},
      </if>
      <if test="odate != null" >
        #{odate,jdbcType=TIMESTAMP},
      </if>
      <if test="onum != null" >
        #{onum,jdbcType=INTEGER},
      </if>
      <if test="oprice != null" >
        #{oprice,jdbcType=REAL},
      </if>
      <if test="omessage != null" >
        #{omessage,jdbcType=VARCHAR},
      </if>
      <if test="oaddressee != null" >
        #{oaddressee,jdbcType=VARCHAR},
      </if>
      <if test="oaddress != null" >
        #{oaddress,jdbcType=VARCHAR},
      </if>
      <if test="ophone != null" >
        #{ophone,jdbcType=VARCHAR},
      </if>
      <if test="ostatus != null" >
        #{ostatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mallProject.demo.entity.BOrder" >
    update b_order
    <set >
      <if test="uid != null" >
        uId = #{uid,jdbcType=INTEGER},
      </if>
      <if test="bookid != null" >
        bookId = #{bookid,jdbcType=INTEGER},
      </if>
      <if test="odate != null" >
        oDate = #{odate,jdbcType=TIMESTAMP},
      </if>
      <if test="onum != null" >
        oNum = #{onum,jdbcType=INTEGER},
      </if>
      <if test="oprice != null" >
        oPrice = #{oprice,jdbcType=REAL},
      </if>
      <if test="omessage != null" >
        oMessage = #{omessage,jdbcType=VARCHAR},
      </if>
      <if test="oaddressee != null" >
        oAddressee = #{oaddressee,jdbcType=VARCHAR},
      </if>
      <if test="oaddress != null" >
        oAddress = #{oaddress,jdbcType=VARCHAR},
      </if>
      <if test="ophone != null" >
        oPhone = #{ophone,jdbcType=VARCHAR},
      </if>
      <if test="ostatus != null" >
        oStatus = #{ostatus,jdbcType=VARCHAR},
      </if>
    </set>
    where oId = #{oid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mallProject.demo.entity.BOrder" >
    update b_order
    set uId = #{uid,jdbcType=INTEGER},
      bookId = #{bookid,jdbcType=INTEGER},
      oDate = #{odate,jdbcType=TIMESTAMP},
      oNum = #{onum,jdbcType=INTEGER},
      oPrice = #{oprice,jdbcType=REAL},
      oMessage = #{omessage,jdbcType=VARCHAR},
      oAddressee = #{oaddressee,jdbcType=VARCHAR},
      oAddress = #{oaddress,jdbcType=VARCHAR},
      oPhone = #{ophone,jdbcType=VARCHAR},
      oStatus = #{ostatus,jdbcType=VARCHAR}
    where oId = #{oid,jdbcType=INTEGER}
  </update>
</mapper>