<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mallProject.demo.dao.BShoppingcartMapper" >
  <resultMap id="BaseResultMap" type="com.mallProject.demo.entity.BShoppingcart" >
    <id column="sId" property="sid" jdbcType="INTEGER" />
    <result column="uId" property="uid" jdbcType="INTEGER" />
    <result column="sOrdercount" property="sordercount" jdbcType="INTEGER" />
    <result column="sTotalprice" property="stotalprice" jdbcType="REAL" />
    <result column="sIspay" property="sispay" jdbcType="VARCHAR" />
    <result column="sPaymethod" property="spaymethod" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    sId, uId, sOrdercount, sTotalprice, sIspay, sPaymethod
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from b_shoppingcart
    where sId = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from b_shoppingcart
    where sId = #{sid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mallProject.demo.entity.BShoppingcart" >
    insert into b_shoppingcart (sId, uId, sOrdercount, 
      sTotalprice, sIspay, sPaymethod
      )
    values (#{sid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{sordercount,jdbcType=INTEGER}, 
      #{stotalprice,jdbcType=REAL}, #{sispay,jdbcType=VARCHAR}, #{spaymethod,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mallProject.demo.entity.BShoppingcart" >
    insert into b_shoppingcart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        sId,
      </if>
      <if test="uid != null" >
        uId,
      </if>
      <if test="sordercount != null" >
        sOrdercount,
      </if>
      <if test="stotalprice != null" >
        sTotalprice,
      </if>
      <if test="sispay != null" >
        sIspay,
      </if>
      <if test="spaymethod != null" >
        sPaymethod,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="sordercount != null" >
        #{sordercount,jdbcType=INTEGER},
      </if>
      <if test="stotalprice != null" >
        #{stotalprice,jdbcType=REAL},
      </if>
      <if test="sispay != null" >
        #{sispay,jdbcType=VARCHAR},
      </if>
      <if test="spaymethod != null" >
        #{spaymethod,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mallProject.demo.entity.BShoppingcart" >
    update b_shoppingcart
    <set >
      <if test="uid != null" >
        uId = #{uid,jdbcType=INTEGER},
      </if>
      <if test="sordercount != null" >
        sOrdercount = #{sordercount,jdbcType=INTEGER},
      </if>
      <if test="stotalprice != null" >
        sTotalprice = #{stotalprice,jdbcType=REAL},
      </if>
      <if test="sispay != null" >
        sIspay = #{sispay,jdbcType=VARCHAR},
      </if>
      <if test="spaymethod != null" >
        sPaymethod = #{spaymethod,jdbcType=VARCHAR},
      </if>
    </set>
    where sId = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mallProject.demo.entity.BShoppingcart" >
    update b_shoppingcart
    set uId = #{uid,jdbcType=INTEGER},
      sOrdercount = #{sordercount,jdbcType=INTEGER},
      sTotalprice = #{stotalprice,jdbcType=REAL},
      sIspay = #{sispay,jdbcType=VARCHAR},
      sPaymethod = #{spaymethod,jdbcType=VARCHAR}
    where sId = #{sid,jdbcType=INTEGER}
  </update>
  
  <select id="getCount" resultType="java.lang.Integer" >
    select count(1)  from b_shoppingcart
  </select>
  
  <select id="getCountUserShoppingCart" resultType="java.lang.Integer">
  	select count(1) from b_shoppingcart where uId = #{uid,jdbcType=INTEGER}
  </select>
  
</mapper>