<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


	<!-- 加载sql映射文件 -->
	<mappers>
		
		
		<mapper resource="com/wd/webservice/mapper/TbDicDepartmentMapper.xml"/>
		<mapper resource="com/wd/webservice/mapper/TbDicDoctorMapper.xml"/>
		<mapper resource="com/wd/webservice/mapper/TbDicHospitalMapper.xml"/>
		<mapper resource="com/wd/webservice/mapper/TbDicOutpatinfoMapper.xml"/>
		<mapper resource="com/wd/webservice/mapper/TbDicProfessionMapper.xml"/>
		<mapper resource="com/wd/webservice/mapper/TbDicRuleMapper.xml"/>
	</mappers>
	


 
	
</configuration>
